.LPFGsongIcon
{
	width:20px;
	height:20px;
	z-index:100;
	top:7px;
	left:7px;
	position:absolute;
}

#player-options
{
	margin-left:30px;
	min-width:120px;
	max-width:120px;
}

#volume-group
{
	overflow:visible;
	right:130px;
}

/*#lyricContainer
{
	position:absolute;
	right:0px;
	min-height:100%;
	max-height:100%;
	overflow:scroll;
}*/

#now-playing > .inner
{
	right:178px;
}